<app-header></app-header>
<div class="main">
    @if(showLoading)
    {
        <div id="load">
            <img src="assets/afterCheckout/carga.gif" alt="gif de carga" />
        </div>
    }
    @else {
    <div class="information">
        <div class="basket">
            <h2>Mi carrito</h2>
            @if(shoppingCartProducts.length == 1){
                <h4>{{shoppingCartProducts.length}} articulo</h4>
            }
            @else {
                <h4>{{shoppingCartProducts.length}} articulos</h4>
            } 
            @for (product of shoppingCartProducts; track product.id){
            <div class="basket-products">
                <img class="basket-products-image" [src]="product.image.replace('/images/images/', '/images/')" alt="">
                <div class="basket-products-information">
                    <h2 class="basket-products-information-title">{{product.name}}</h2>
                    <h4 class="basket-products-information-quantity">Cantidad: {{ product.total }}</h4>
                    <h4>Total: {{(product.total*product.price) | eurosToCents}}</h4>
                    <h4>Precio por kg {{product.price | eurosToCents}}</h4>
                </div>
            </div>
            }
            @empty
            {
            <p>No hay productos en el carrito</p>
            }
        </div>

        <div class="final-price">
            <h2>Resumen</h2>
            <div class="final-price-price">
                <h3>Total:</h3>
                <h3>{{totalprice()| eurosToCents}}</h3>
            </div>
            @if (shoppingCartProducts.length > 0) {
                @if(method == "card")
                {
                    <button (click)="embeddedCheckout()" class="final-price-button-card">Pagar con tarjeta</button>
                    <!--<button (click)="hostedCheckout()">Comprar en página externa</button>-->
                }
                @else {
                    <button (click)="createTransaction()" class="final-price-button-card">Pagar con ETH</button>
                }
            }
            

            <hr>
        </div>
    </div>
}
</div>
<dialog #checkoutDialog id="payment-window">
    <div id="checkout"></div>
    <button (click)="cancelCheckoutDialog()">x</button>
</dialog>