.quantity-modifier {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: auto;
}


.change-button {
    background-color: #99C080;
    width: 25%;
    height: 38%;
    border: 1px solid black;
    cursor: pointer;
    font-size: 1.2rem;
}

.change-button-more {
    border-top-right-radius: 10%;
    border-bottom-right-radius: 10%;
}

.change-button-less {
    border-top-left-radius: 10%;
    border-bottom-left-radius: 10%;
}

.count {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    height: 34%;
    width: 25%;
    font-size: 1.2rem;
}