<div class="заголовок">
    <app-header></app-header>
</div>
<div class="главная">
    <div class="продукция">
        <div class="продукция-изображение">
            <img class="изображение" src="/register-image.jpg" alt="">
        </div>

        <div class="продукция-описание">
            <h2>Ternera de primera</h2>
            <h3><i class="fa-solid fa-star"></i>4</h3>
            <div class="продукция-описание-цена">
                <h2>10€</h2>
                <h2 class="stock">Stock:100</h2>
            </div>
            <div class="продукция-описание-anadir">
                <button class="button-menos">-</button>
                <h2 class="count">0</h2>
                <button class="button-mas">+</button>
            </div>
            <div class="изображение-anadir-carrito">
                <button class="anadir">Añadir al carrito</button>
            </div>
        </div>
    </div>
</div>