.главная{
    min-height: 100vh;
}
/*Esto seria par la visualizacion de mis productos y sus caracteristicas*/
.продукция{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top:2%;
    justify-content: center;
    gap: 10%;
}
.изображение{/*Esta clase sera necesaria para poder poner de un mismo tamaño la imagen si no se sabe como se hace es igual que las imagenes de product-list*/
    width: 100%; 
    max-width: 350px;
    height: 350px;
}
.продукция-описание{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.продукция-описание-цена{
display: flex;
flex-direction: row;
justify-content: space-around;
}
.stock{
    color: green;
}
.продукция-описание-anadir{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.button-menos{
    background-color: greenyellow;
    width: 50%;
    height: 80%;
    border:greenyellow ;
}
.count{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
    height: 75%;
    width: 100%;
}
.button-mas{
    background-color: greenyellow;
    width: 50%;
    height: 80%;
    border: greenyellow;
}
.anadir{
    width: 100%;
    height: 100%;
    background-color: greenyellow;
    font-weight: bold;
    border: greenyellow;
}
/*Descripcion*/

/*Valoraciones*/

/*responsive*/

@media (max-width: 650px) {
    .продукция {
        flex-direction: column;
    }
    .продукция-изображение{
        display: flex;
        justify-content: center;
    }
}