.body {
    min-height: 100vh;
    background-image: url("../../../../public/assets/images/campo.jpg");
    background-repeat: repeat-y;
    background-size: 100% auto;
    background-position: top center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 100%;
}

/*Esto seria par la visualizacion de mis productos y sus caracteristicas*/
.products {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-top: 2%;
    gap: 10%;
    height: 100%;
}

.image {
    /*Esta clase sera necesaria para poder poner de un mismo tamaño la imagen si no se sabe como se hace es igual que las imagenes de product-list*/
    width: 100%;
    max-width: 350px;
    height: 100%;
    border-radius: 8px;
}



.products-description {
    padding: 2%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 8px;
    width: 30%;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.5);
}

.products-description-description {
    word-break: break-word;
    white-space: normal;
    width: 100%;
}

.products-description-price {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 10%;
}

.stock {
    color: green;
}

.add-products-description {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}


.anadir {
    width: 50%;
    height: 150%;
    background-color: #99C080;
    font-weight: bold;
    font-size: 1.2rem;
    border: 1px solid black;
    border-radius: 8px;
    cursor: pointer;
}

/*Descripcion*/
.description {
    display: flex;
    justify-content: center;
    padding-top: 4%;
}

.description p {
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 20px;
    border-radius: 10px;
    font-size: 30px;
}

/*Valoraciones*/
.review {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    gap: 20px;
}

.review-title {
    background-color: rgba(255, 255, 255, 0.5);
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.5);
    border-radius: 8px;
    align-items: center;
    height: 30px;
    width: 41%;
    margin-top: 50px;
    padding: 1%;
}

.review-title p {
    font-size: 30px;
    font-weight: bold;
    margin: 0;
    text-align: center;
}

.review-input {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    width: 41%;
}

.review-input-text {
    background-color: white;
    border-radius: 8px;
    color: black;
    width: 100%;
    padding: 2%;
}

.review-input-button {
    width: 50%;
    background-color: #99C080;
    font-weight: bold;
    font-size: 1.5rem;
    border: 1px solid black;
    border-radius: 8px;
    cursor: pointer;
    padding: 1%;
}

.review-users {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    gap: 20px;
}

.review-users-opinion {
    background-color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 90%;
    border-radius: 8px;
}

.review-users-opinion-text {
    width: 50%;
}

.review-users-opinion-date {
    width: 180px;
}

.review-users-opinion-score {
    width: 70px;
}

.review-users-opinion-user {
    margin-right: 5px;
}

/*responsive*/

@media (max-width: 780px) {
    .anadir {
        width: 125px;
    }
}

@media (max-width: 662px) {
    .products {
        flex-direction: column;
        gap: 10px;
        height: 80%;
    }

    .products-image {
        display: flex;
        justify-content: center;
    }

    .products-description {
        width: 90%;
        height: 100%;
    }

    .products-description-title {
        text-align: center;
    }

    .add-products-description {
        width: 100%;
        height: auto;
        align-items: center;
    }

    .image-anadir-carrito {
        width: 50%;
    }

    .products-description-price {
        gap: 25%;
    }

    .review-input {
        width: 95%;
    }

    .review-users-opinion {
        width: 100%;
    }
    .review-users-opinion-date {
        width: 150px;
    }

}