<div class="header">
    <app-header></app-header>
</div>
<div class="body">
    @if(product)
    {
        <div class="main">
            <div class="products">
                <div class="products-image">
                    <img class="image" [src]="product.image">
                </div>
        
                <div class="products-description">
                    <h2 class="products-description-title">{{ product.name }}</h2>
                    <h3><i class="fa-solid fa-star"></i>4</h3>
                    <div class="products-description-price">
                        <h2>{{ product.price }}</h2>
                        <h2 class="stock">{{ product.stock }}</h2>
                    </div>
                    <div class="products-description-anadir">
                        <button class="button-menos">-</button>
                        <p class="count">0</p>
                        <button class="button-mas">+</button>
                    </div>
                    <div class="image-anadir-carrito">
                        <button class="anadir">Añadir al carrito</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="description">
            <p class="description-text">{{ product.description }}</p>
        </div>
        <div class="review">
            <h1>Reseñas</h1>
            <div class="review-input">
                <textarea class="review-input-text" rows="5" cols="50" placeholder="Danos tu opinion(Si es malo te baneo) "></textarea>
            </div>
        </div>
    }
    @else
    {
        <p>Cargando...</p>
    }
</div>
