<app-header-shop></app-header-shop>
<div class="main">
    <div class="information">
        <div class="basket">
            <h2>Mi carrito</h2>
            <h4>{{shoppingCartProducts.length}} articulos</h4>
            @for (product of shoppingCartProducts; track product.id){
            <div class="basket-products">
                <img class="basket-products-image" [src]="product.image" alt="">
                <div class="basket-products-information">
                    <div class="basket-products-information-functions">
                        <h4 class="basket-products-information-functions-title">{{product.name}}</h4>
                        <button (click)="deleteProduct(product.id)"><i class="fa-solid fa-trash"></i></button>
                        <button (click)="changeQuantity(product)">Cambiar cantidad</button>
                        <!--<input class="basket-products-information-functions-input"  type="number" [placeholder]="product.total">-->
                        <div class="products-description-anadir">
                            <button class="button-menos" (click)="restar(product.id)">-</button>
                            <p class="count">{{product.total}}</p>
                            <button class="button-mas" (click)="sumar(product.id)">+</button>
                        </div>
                    </div>
                    <h3>Total: {{(product.total*product.price) | eurosToCents}}</h3>
                    <h3>Precio por kg {{product.price | eurosToCents}}</h3>
                </div>
            </div>
            }
            @empty 
            {
            <p>No hay productos en el carrito</p>
            }
        </div>
        <div class="final-price">
            <h3>Resumen</h3>
            <div class="final-price-price">
                <h3>Total:</h3>
                <h3>{{totalprice()| eurosToCents}}</h3>
            </div>
            
            <hr>
            <button class="final-price-button-card" (click)="pay('card')">Pagar con tarjeta</button>
            <button class="final-price-button-Etherium" (click)="pay('eth')">Pagar con Etherium</button>
            
        </div>
    </div>
</div>