.main{
    min-height: 100vh;
    background-repeat: repeat-y;
    background-size: 100% auto;
    background-position: top center;
    background-size: cover;
}

#progressBar{
    width: 100%;
    text-align: center;
}

#progressBar img{
    width: 50px;
    height: 50px;
    vertical-align: middle;
    margin-left: 8px;
}

#cartCounter{
    margin: 0 10%;
}


.information{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;

    margin: 0 10%;

}
.basket{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap:20px;


}
.basket-products{
    display: flex;
    background-color: white;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 200px;
    width: 100%;
    gap: 20px;
    border-radius: 8px;
    padding: 5%;
    border: solid grey 2px;
    border-radius: 8px;

}
.basket-products-image{
    width: 100%;
    max-width: 150px;
    height: 150px;
    border-radius: 25px;

    
}

.basket-products-information-deleteButton{
    width: 50px;
    height: 50px;
    text-align: center;
}



.basket-products-information-deleteButton img{
    width: 30px;
    height: 30px;
}



.basket-products-information-functions{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
}
.basket-products-information-functions-title{
    width: 100%;
}
.basket-products-information-functions-input{
    width: 50%;
}
.final-price{
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 30%;
    height: 250px;
    border: solid grey 2px;
    border-radius: 8px;
}
hr{
    width: 50%;
    border: 2px dopped;
}
.final-price-button-card{
    width: 50%;
    height: 30%;
    border-radius: 8px;
    background-color: #99C080;
    cursor: pointer;
}
.final-price-button-Etherium{
    width: 50%;
    height: 30%;
    border-radius: 8px;
    background-color: #99C080;
    cursor: pointer;
}
.final-price-price{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 70px;
}
.products-description-anadir{
    display: flex;
    flex-direction: row;
    align-items: center;
}



/*responsive*/
@media (max-width: 1120px){
    .information{
        flex-direction: column;
        gap: 30px;
    }
    .final-price{
        width: 50%;
    }
}
@media (max-width: 1120px){
    .information{
        flex-direction: column;
        gap: 30px;
    }
    .final-price{
        width: 50%;
    }
}