.main{
    min-height: 100vh;
    background-image: url("../../../../public/background.png");
    background-repeat: repeat-y;
    background-size: 100% auto;
    background-position: top center;
    background-size: cover;
}
.information{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;

}
.purchased  {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap:20px;
}
.purchased-products{
    display: flex;
    background-color: black;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 200px;
    width: 100%;
    gap: 20px;
    border-radius: 8px;
}
.purchased-products-image{
    width: 100%;
    max-width: 150px;
    height: 150px;
    padding: 5%;
    border-radius: 25px;
}
.purchased-products-information-functions{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
}
.purchased-products-information-functions-title{
    color: white;
    width: 100%;
}
.purchased-products-information-functions-input{
    width: 50%;
}
h3{
    color: white;
}
h2{
    color: white;
}
h4{
    color: white;
}
.final-price{
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 20%;
    height: 250px;
    border-radius: 8px;
}
hr{
    width: 50%;
    border: 2px dopped;
}
.final-price-button-card{
    width: 50%;
    height: 30%;
    border-radius: 8px;
    background-color: #99C080;
    cursor: pointer;
}
.final-price-button-Etherium{
    width: 50%;
    height: 30%;
    border-radius: 8px;
    background-color: #99C080;
    cursor: pointer;
}
.final-price-price{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 70px;
}
.products-description-anadir{
    display: flex;
    flex-direction: row;
    align-items: center;
}
/*responsive*/
@media (max-width: 1120px){
    .information{
        flex-direction: column;
        gap: 30px;
    }
    .final-price{
        width: 50%;
    }
}
@media (max-width: 1120px){
    .information{
        flex-direction: column;
        gap: 30px;
    }
    .final-price{
        width: 50%;
    }
}