<app-header></app-header>
<div class="main">
    @if (lastOrder)
    {
    <h2>Muchas gracias por su compra {{user?.name}}, que disfrute su compra ❤</h2>

    <div class="information">
        <div class="purchased ">
            <h2>Productos</h2>
            @for (product of lastOrder.Products; track product.id){
            <div class="purchased -products">
                <img class="purchased-products-image" [src]="product.image" alt="">
                <div class="purchased-products-information">
                    <div class="purchased-products-information-functions">
                        <h4 class="purchased-products-information-functions-title">{{product.name}}</h4>
                        <h5 class="purchased-products-information-functions-title">{{ product.total }}</h5>
                    </div>
                    <h3>Total: {{(product.total*product.price) | eurosToCents}}</h3>
                    <h3>Precio por kg {{product.price | eurosToCents}}</h3>
                </div>
            </div>
            }
            @empty
            {
            <p>No hay productos en el carrito</p>
            }
        </div>
        <div class="final-price">
            <h3>Resumen</h3>
            <div class="final-price-price">
                <h3>Total:</h3>
                <h3>{{totalprice() | eurosToCents}}</h3>
            </div>
            <hr>
        </div>
    </div>
    }
    @else
    {
    <h2>Pago rechazado</h2>
    }

</div>