<div>
    <app-header></app-header>
</div>

<div class="search-bar">
    <app-search-bar></app-search-bar>
</div>

<div  class="body">
    <h1>Productos</h1> <!-- Cambiar por un valor variable segun el tipo de producto-->
    <div class="container">
        <div class="container-row">
            <div class="container-row-product"></div>
            <div class="container-row-product"></div>
            <div class="container-row-product"></div>
            <div class="container-row-product"></div>
        </div>
        <div class="container-row">
            <div class="container-row-product"></div>
            <div class="container-row-product"></div>
            <div class="container-row-product"></div>
            <div class="container-row-product"></div>
        </div>
    </div>

    <div class="pagination">
        <!-- Aqui va las flechas dobles -->
        <!-- Aqui va una flecha -->
        <div class="pagination-numbers"></div>
        <!-- Aqui va una flecha -->
        <!-- Aqui va las flechas dobles -->
    </div>





    


</div>

