<div class="header">
    <img class="logo" src="/assets/images/Logo.png" alt="">
    <div class="buttons">
        <div class="circle">
            <p class="number">1</p>
        </div>
        <p class="text">Cesta</p>
    </div>
    <div class="buttons">
        <div class="circle">
            <p class="number">2</p>
        </div>
        <p class="text">Entrega</p>
    </div>
    <div class="buttons">
        <div class="circle">
            <p class="number">3</p>
        </div>
        <p class="text">Pago</p>
    </div>
    <div class="buttons">
        <div class="circle">
            <p class="number">4</p>
        </div>
        <p class="text">Resumen</p>
    </div>
</div>
