<div>
    <app-header></app-header>
</div>
<div class="main-container">
    <div class="centered-image"></div>
    <div class="content">
        <div id="animated-section" class="animation-class">
            <h1>FARM IN HOUSE</h1>
            <p>Una empresa dedicada a la venta de <br>productos frescos y autóctonos</p>
        </div>

        <div style="height: 2000px;"></div>

        <div id="second-animated-section">
            <h1>Pago justo</h1>
            <p>Todos nuestos productos son obtenidos mediante <br>un pago justo a nuestros proveedores</p>
        </div>
        
        <div style="height: 2000px;"></div>

        <div id="third-animated-section">
            <h1>Entrega en el día</h1>
            <p>Nos comprometemos a entregar los productos que solicites <br>en el mismo día en que son producidos</p>
        </div>

        <div style="height: 1260px;"></div>
    </div>
    <div class="final-content">
        <button class="btn-buy" [routerLink]="'product-list/frutas'">COMPRAR AHORA</button>
        <div></div>
    </div>
</div>