.main-container {
    display: flex;
    flex-direction: column;
}

.centered-image {
    transition: 2s;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 999;
    width: 15vw;
    height: 15vw;
    max-width: 200px;
    max-height: 200px;
    background-image: url("../../../../public/truck1.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.centered-image-2 {
    transition: 2s;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 999;
    width: 15vw;
    height: 15vw;
    max-width: 200px;
    max-height: 200px;
    background-image: url("../../../../public/truck2.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.centered-image-3 {
    transition: 2s;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 999;
    width: 15vw;
    height: 15vw;
    max-width: 200px;
    max-height: 200px;
    background-image: url("../../../../public/truck3.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.centered-image-4 {
    transition: 2s;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 999;
    width: 15vw;
    height: 15vw;
    max-width: 200px;
    max-height: 200px;
    background-image: url("../../../../public/truck4.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.centered-image-5 {
    transition: 2s;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 999;
    width: 15vw;
    height: 15vw;
    max-width: 200px;
    max-height: 200px;
    background-image: url("../../../../public/truck5.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.centered-image-stop{
    transition: 2s;
    position: fixed;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 999;
    width: 15vw;
    height: 15vw;
    max-width: 200px;
    max-height: 200px;
    background-image: url("../../../../public/truck6.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

@keyframes textAnimation {
    from {
        transform: translate(-40vw, 0);
    }

    to {
        transform: translate(100vw, 0);
    }
}


#animated-section {
    position: absolute;
    left: -40vw;
    top: 500px;
    z-index: 1000;
    background-color: #698558;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.5);
    text-align: center;
    color: white;
    font-family: 'Arial', sans-serif;
}

#second-animated-section {
    position: absolute;
    left: -40vw;
    top: 1500px;
    z-index: 1000;
    background-color: #D9A72E;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.5);
    text-align: center;
    color: white;
    font-family: 'Arial', sans-serif;
}

#third-animated-section {
    position: absolute;
    left: -40vw;
    top: 2500px;
    z-index: 1000;
    background-color: #A82222;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.5);
    color: white;
    text-align: center;
    font-family: 'Arial', sans-serif;
}

.animation-class {
    animation-name: textAnimation;
    animation-duration: 3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 100vh;
    background-image: url("../../../../public/background.png");
    background-repeat: repeat-y;
    background-size: 100% auto;
    background-position: top center;
    text-align: center;
}
@keyframes homeanimate {
    from {
        transform: scale(1, 1);
    }

    to {
        transform: scale(1.25, 1.25);
    }
}
.final-content{
    width: 20vw;
    height: 20vw;
    background-image: url("../../../../public/final-house.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    cursor: pointer;
    margin-bottom: 5%;
    animation-name: homeanimate;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

.activate-text{
    display: flex;
}

.defuse-text{
    display: none;
}

/*.btn-buy {
    background-color: #4da8da;
    color: #fff;
    border: none;
    padding: 15px 30px;
    font-size: 18px;
    font-weight: bold;
    letter-spacing: 1px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    transition: all 0.3s ease;
    outline: none;
    margin-top: 80%;
}

.btn-buy:hover {
    background-color: #3399cc;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
    transform: translateY(-2px);
}

.btn-buy:active {
    background-color: #2887b3;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
    transform: translateY(1px);
}*/

/* RESPONSIVE */
@media (max-width: 1160px) {
    #animated-section {
        font-size: 18px;
        width: 30%;
    }

    #second-animated-section {
        font-size: 17px;
        width: 31%;
    }

    #third-animated-section {
        font-size: 16px;
        width: 32%;
    }
    .centered-image-stop{
        top: 60%;
    }
}

@media (max-width: 981px) {
    #animated-section {
        font-size: 12px;
        width: 30%;
    }

    #second-animated-section {
        font-size: 12px;
        width: 30%;
    }

    #third-animated-section {
        font-size: 12px;
        width: 30%;
    }
}

@media (max-width: 430px) {
    #animated-section {
        font-size: 6px;
        width: 25%;
    }

    #second-animated-section {
        font-size: 6px;
        width: 25%;
    }

    #third-animated-section {
        font-size: 6px;
        width: 27%;
    }

    .centered-image-stop{
        top: 70%;
    }
}