<div class="container">
    <div class="header">
        <img src="" alt="" class="header-image"/>
    </div>

    <div class="section mission">
        <div class="content-box">
            <h2>Nuestra misión</h2>
            <p>Texto aquí</p>
        </div>
        <div class="image-box">
            <img src="" alt="" />
        </div>
    </div>

    <div class="section vision">
        <div class="image-box">
            <img src="" alt="" />
        </div>
        <div class="content-box">
            <h2>Nuestra visión</h2>
            <p>HUR HUR HUR HUR HUR</p>
        </div>
    </div>

    <div class="section values">
        <div class="content-box">
            <h2>Nuestros valores</h2>
            <p>MONDONGO</p>
        </div>
        <div class="image-box">
            <img src="" alt=""/>
        </div>
    </div>
</div>