<app-header id="test"></app-header>
<div class="main">
    <div class="container">
        <div class="header">
            <img src="" alt="" class="header-image" />
        </div>

        <div class="section">
            <div class="content-box" style="background-color: #652020;">
                <h2 class="title1">Nuestra misión</h2>
                <p style="color: white;">Queremos entregar productos frescos que estén a la altura del compromiso y la dedicación que tiene
                    con su familia.
                    <br><br>
                    Para lograrlo, colaboramos con agricultores locales que se preocupan por el medio ambiente y
                    cultivan sus productos con cariño.
                </p>
            </div>
            <div>
                <img class="animate" src="assets/campoloquelefataamauricio.svg" alt="Tomates" />
            </div>
        </div>

        <div class="section">
            <div>
                <img class="animate" src="assets/vaquiñas.svg" alt="Furgonetilla" />
            </div>
            <div class="content-box" style="background-color: #F5F5DC; box-shadow: 5px black;">
                <h2 class="title2">Nuestra visión</h2>
                <p class="text2">Queremos recompensar el duro trabajo de los agricultores pagándoles bien por sus productos, y así
                    ganarnos su favor.
                    <br><br>
                    Además, empezaremos con una furgoneta, pero iremos aumentando la flota de vehiculos con los
                    beneficios recolectados de las ventas.
                </p>
            </div>
        </div>

        <div class="section">
            <div class="content-box" style="background-color: #D9A72E;">
                <h2 class="title3">Nuestros valores</h2>
                <p class="text3">La empresa se compromete a promover la sostenibilidad mediante prácticas que respeten el medio
                    ambiente y fomenten la agricultura responsable.
                    <br><br>
                    Nos esforzamos por ofrecer productos de alta calidad que satisfagan las expectativas de nuestros
                    clientes.
                </p>
            </div>
            <div class="image-box">
                <img src="assets/images/Logo.png" alt="Cultivo de maíz" />
            </div>
        </div>

        <!--<div style="height: 500px;"></div>
        <div class="prank">
            <p>Así que... ¿has aprendido de qué va nuestra página?</p>
        </div>
        <div style="height: 300px;"></div>
        <div class="prank">
            <p>En cualquier caso, lo siento por tí.</p>
        </div>
        <div style="height: 300px;"></div>
        <div class="prank">
            <p>No hay botón "ATRÁS" en esta página.</p>
        </div>
        <div style="height: 300px;"></div>
        <div class="prank">
            <p>Vas a estar atrapado aquí...</p>
        </div>
        <div style="height: 300px;"></div>
        <div class="prank">
            <p>PARA TODA LA ETERNIDAD</p>
        </div>
        <div style="height: 300px;"></div>
        <div class="prank">
            <p>ESTA PÁGINA SERÁ TU TUMBA</p>
        </div>
        <div style="height: 300px;"></div>
        <div class="prank">
            <p>HAHAHAHAHAHAHAHA</p>
        </div>
        <div style="height: 500px;"></div>
        <div class="prank">
            <p>Ah, y estos somos nosotros:</p>
        </div>
        <div style="height: 100px;"></div>-->

        <div class="prank">
            <p>Ah, y estos somos nosotros:</p>
        </div>

        <div class="team">
           <div class="team-person">
            <img class="team-person-photo" src="assets/aboutus_images/mauricio.png">
            <div class="team-person-information">
                <h2>MAURICIO</h2>
                <p class="team-person-information-description">Mauricio es una de las fuerzas que mueve a la granja. Le encanta participar en el cultivo de productos orgánicos y en la educación sobre prácticas agrícolas sostenibles.</p>
            </div>
            </div>
            <div class="team-person">
                <img class="team-person-photo" src="assets/aboutus_images/daniel.png">
                <div class="team-person-information">
                    <h2>DANIEL</h2>
                    <p class="team-person-information-description">Daniel cuenta con varios años de experiencia como director comercial en el sector agrícola. Le encantan los desafíos y ha ayudado a la granja a crecer y prosperar.</p>
                </div>
                </div>
                </div>
        <div class="team">
           <div class="team-person">
            <img class="team-person-photo" src="assets/aboutus_images/alejandro.png">
            <div class="team-person-information">
                <h2>ALEJANDRO</h2>
                <p class="team-person-information-description">Alejandro es una de las personas icónicas en la empresa. Él es mentor de nuevos agricultores y se ocupa de la comunidad agrícola local.</p>
            </div>
            </div>
            <div class="team-person">
                <img class="team-person-photo" src="assets/aboutus_images/francisco.png">
                <div class="team-person-information">
                    <h2>FRANCISCO</h2>
                    <p class="team-person-information-description">Francisco Siles tiene una amplia experiencia en agricultura sostenible. Su objetivo es garantizar la calidad y el éxito de nuestra granja.</p>
                </div>
                </div>
                </div>
