<div>
    <app-header></app-header>
</div>

<div class="sobre-nosotros">
    <div class="overlap">

        <img class="farm-horizontal"
            src="assets/aboutus_images/farm_horizontal_landscape_scene_with_red_barn_free_vector_1.png">


        <img class="nuestra-misin" src="assets/aboutus_images/nuestra-misi-n.png" />
        <div class="nuestra-visin">
            <div class="overlap-5">
                <img class="furgoneta" src="assets/aboutus_images/furgoneta.png" />
                <div class="overlap-group-wrapper">
                    <div class="overlap-group-3">
                        <div class="text-wrapper-7">Nuestra visión</div>
                        <p class="queremos-recompensar">
                            Queremos recompensar el duro trabajo de los agricultores pagándoles bien por sus productos,
                            y asi
                            ganarnos su favor.<br /><br />Además, empezaremos con una furgoneta, pero iremos aumentando
                            la flota
                            de vehiculos con los beneficios recolectados de las ventas.
                        </p>
                    </div>
                </div>
                <div class="ellipse-5"></div>
                <div class="ellipse-6"></div>
                <div class="ellipse-7"></div>
            </div>
        </div>
        <img class="tomates" src="assets/aboutus_images/tomates.png" />
        <div class="nuestros-valores">
            <div class="overlap-6">
                <p class="la-empresa-se">
                    La empresa se compromete a promover la sostenibilidad mediante prácticas que respeten el medio
                    ambiente y
                    fomenten la agricultura responsable. <br /><br />Nos esforzamos por ofrecer productos de alta
                    calidad que
                    satisfagan las expectativas de nuestros clientes.
                </p>
                <div class="text-wrapper-8">Nuestros valores</div>
            </div>
        </div>
        <p class="p">Farm in House - Productos Frescos y Ecológicos</p>
        <div class="integrantes">
            <p class="text-wrapper-9">
                Mauricio es una de las fuerzas que mueve a la granja. Le encanta participar en el cultivo de productos
                orgánicos y en la educación sobre prácticas agrícolas sostenibles.
            </p>
            <div class="text-wrapper-10">Mauricio Rosso</div>
            <img class="img" src="assets/aboutus_images/mauricio.png" />
        </div>
        <div class="integrantes-2">
            <p class="text-wrapper-9">
                Daniel cuenta con varios años de experiencia como director comercial en el sector agrícola. Le encantan
                los
                desafíos y ha ayudado a la granja a crecer y prosperar.
            </p>
            <div class="text-wrapper-10">Daniel Cuenca</div>
            <img class="img" src="assets/aboutus_images/daniel.png" />
        </div>
        <div class="integrantes-3">
            <p class="text-wrapper-9">
                Francisco Siles tiene una amplia experiencia en agricultura sostenible. Su objetivo es garantizar la
                calidad
                y el éxito de nuestra granja.
            </p>
            <div class="text-wrapper-10">Francisco Siles</div>
            <img class="img" src="assets/aboutus_images/francisco.png" />
        </div>
        <div class="integrantes-4">
            <p class="text-wrapper-9">
                Alejandro es una de las personas icónicas en la empresa. Él es mentor de nuevos agricultores y se ocupa
                de
                la comunidad agrícola local.
            </p>
            <div class="text-wrapper-10">Alejandro Gálvez</div>
            <img class="img" src="assets/aboutus_images/alejandro.png" />
        </div>
    </div>