.sobre-nosotros {
    background-color: #ffffff;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}

.sobre-nosotros .overlap {
    position: absolute;
    width: 2190px;
    height: 1021px;
    top: -470px;
    left: -118px;
}


.sobre-nosotros .farm-horizontal {
    position: absolute;
    width: 1919px;
    height: 317px;
    top: 537px;
    left: 119px;
    object-fit: cover;
}


.sobre-nosotros .overlap-group {
    position: absolute;
    width: 1920px;
    height: 149px;
    top: 0;
    left: 0;
    background-color: #000000;
}

.sobre-nosotros .overlap-2 {
    position: absolute;
    width: 295px;
    height: 149px;
    top: 0;
    left: 1625px;
}

.sobre-nosotros .rectangle {
    position: absolute;
    width: 295px;
    height: 149px;
    top: 0;
    left: 0;
    background-color: #a72121;
}

.sobre-nosotros .inicio-sesion {
    position: absolute;
    width: 83px;
    height: 79px;
    top: 35px;
    left: 121px;
}

.sobre-nosotros .overlap-group-2 {
    position: absolute;
    width: 754px;
    height: 90px;
    top: 30px;
    left: 36px;
}

.sobre-nosotros .env-o-gratuito-a {
    position: absolute;
    top: 17px;
    left: 108px;
    font-family: "Inter", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 44.8px;
    letter-spacing: 0;
    line-height: normal;
}

.sobre-nosotros .camion-blanco {
    position: absolute;
    width: 109px;
    height: 90px;
    top: 0;
    left: 0;
    object-fit: cover;
}

.sobre-nosotros .logo {
    position: absolute;
    width: 213px;
    height: 127px;
    top: 199px;
    left: 36px;
    object-fit: cover;
}

.sobre-nosotros .overlap-3 {
    position: absolute;
    width: 1223px;
    height: 67px;
    top: 228px;
    left: 370px;
    background-color: #ffffff;
    border: 0.93px solid;
    border-color: #000000;
}

.sobre-nosotros .text-wrapper {
    position: absolute;
    top: 6px;
    left: 30px;
    font-family: "Inter", Helvetica;
    font-weight: 400;
    color: #7c7c7c;
    font-size: 37.3px;
    letter-spacing: 0;
    line-height: normal;
}

.sobre-nosotros .buscar {
    position: absolute;
    width: 82px;
    height: 61px;
    top: 3px;
    left: 1107px;
    object-fit: cover;
}

.sobre-nosotros .overlap-4 {
    position: absolute;
    width: 130px;
    height: 120px;
    top: 199px;
    left: 1723px;
}

.sobre-nosotros .cesta {
    position: absolute;
    width: 130px;
    height: 120px;
    top: 0;
    left: 0;
    object-fit: cover;
}

.sobre-nosotros .ellipse-4 {
    position: absolute;
    width: 48px;
    height: 44px;
    top: 0;
    left: 61px;
    background-color: #a82222;
    border-radius: 24.24px / 21.91px;
}

.sobre-nosotros .text-wrapper-2 {
    position: absolute;
    top: 2px;
    left: 75px;
    font-family: "Inter", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 33.6px;
    letter-spacing: 0;
    line-height: normal;
}

.sobre-nosotros .text-wrapper-3 {
    position: absolute;
    width: 234px;
    top: 454px;
    left: 91px;
    font-family: "Inter", Helvetica;
    font-weight: 400;
    color: #595959;
    font-size: 44.8px;
    letter-spacing: 0;
    line-height: normal;
}

.sobre-nosotros .text-wrapper-4 {
    position: absolute;
    width: 234px;
    top: 454px;
    left: 375px;
    font-family: "Inter", Helvetica;
    font-weight: 400;
    color: #595959;
    font-size: 44.8px;
    letter-spacing: 0;
    line-height: normal;
}

.sobre-nosotros .text-wrapper-5 {
    position: absolute;
    width: 234px;
    top: 454px;
    left: 659px;
    font-family: "Inter", Helvetica;
    font-weight: 400;
    color: #595959;
    font-size: 44.8px;
    letter-spacing: 0;
    line-height: normal;
}

.sobre-nosotros .text-wrapper-6 {
    position: absolute;
    width: 350px;
    top: 454px;
    left: 893px;
    font-family: "Inter", Helvetica;
    font-weight: 400;
    color: #595959;
    font-size: 44.8px;
    letter-spacing: 0;
    line-height: normal;
}

.sobre-nosotros .line {
    position: absolute;
    width: 1920px;
    height: 5px;
    top: 414px;
    left: 0;
}

.sobre-nosotros .nuestra-misin {
    position: absolute;
    width: 1672px;
    height: 614px;
    top: 1120px;
    left: 116px;
}

.sobre-nosotros .nuestra-visin {
    position: absolute;
    width: 1921px;
    height: 809px;
    top: 1854px;
    left: 0;
    background-color: #f5f5dc;
    overflow: hidden;
    border: 1.5px solid;
    border-color: #000000;
}

.sobre-nosotros .overlap-5 {
    position: relative;
    width: 3078px;
    height: 1015px;
    top: 25px;
    left: -383px;
}

.sobre-nosotros .furgoneta {
    position: absolute;
    width: 698px;
    height: 614px;
    top: 0;
    left: 484px;
}

.sobre-nosotros .overlap-group-wrapper {
    position: absolute;
    width: 791px;
    height: 578px;
    top: 106px;
    left: 1464px;
}

.sobre-nosotros .overlap-group-3 {
    position: relative;
    width: 787px;
    height: 578px;
    background-color: #d9a72e;
    border-radius: 50px;
}

.sobre-nosotros .text-wrapper-7 {
    position: absolute;
    top: 57px;
    left: 93px;
    font-family: "Inter", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 64px;
    letter-spacing: 0;
    line-height: normal;
}

.sobre-nosotros .queremos-recompensar {
    position: absolute;
    width: 666px;
    top: 156px;
    left: 93px;
    font-family: "Inter", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 32px;
    letter-spacing: 0;
    line-height: normal;
}

.sobre-nosotros .ellipse-5 {
    position: absolute;
    width: 924px;
    height: 527px;
    top: 488px;
    left: 0;
    background-color: #6b8e23;
    border-radius: 462px / 263.5px;
}

.sobre-nosotros .ellipse-6 {
    position: absolute;
    width: 1815px;
    height: 310px;
    top: 596px;
    left: 436px;
    background-color: #6b8e23;
    border-radius: 907.5px / 155px;
}

.sobre-nosotros .ellipse-7 {
    position: absolute;
    width: 1033px;
    height: 363px;
    top: 543px;
    left: 2045px;
    background-color: #6b8e23;
    border-radius: 516.5px / 181.5px;
}

.sobre-nosotros .tomates {
    position: absolute;
    width: 698px;
    height: 614px;
    top: 2810px;
    left: 1081px;
}

.sobre-nosotros .nuestros-valores {
    position: absolute;
    width: 791px;
    height: 578px;
    top: 2822px;
    left: 101px;
}

.sobre-nosotros .overlap-6 {
    position: relative;
    width: 787px;
    height: 578px;
    background-color: #4f7942;
    border-radius: 50px;
}

.sobre-nosotros .la-empresa-se {
    position: absolute;
    width: 666px;
    top: 180px;
    left: 86px;
    font-family: "Inter", Helvetica;
    font-weight: 400;
    color: #f5f5dc;
    font-size: 32px;
    letter-spacing: 0;
    line-height: normal;
}

.sobre-nosotros .text-wrapper-8 {
    position: absolute;
    top: 72px;
    left: 86px;
    font-family: "Inter", Helvetica;
    font-weight: 400;
    color: #f5f5dc;
    font-size: 64px;
    letter-spacing: 0;
    line-height: normal;
}

.sobre-nosotros .p {
    position: absolute;
    top: 3676px;
    left: 160px;
    font-family: "Inter", Helvetica;
    font-weight: 600;
    font-style: italic;
    color: #000000;
    font-size: 70px;
    letter-spacing: 0;
    line-height: normal;
}

.sobre-nosotros .integrantes {
    position: absolute;
    width: 854px;
    height: 468px;
    top: 3915px;
    left: 65px;
}

.sobre-nosotros .text-wrapper-9 {
    position: absolute;
    width: 354px;
    top: 117px;
    left: 496px;
    font-family: "Inter", Helvetica;
    font-weight: 600;
    font-style: italic;
    color: #000000;
    font-size: 32px;
    letter-spacing: 0;
    line-height: normal;
}

.sobre-nosotros .text-wrapper-10 {
    position: absolute;
    width: 316px;
    top: 0;
    left: 496px;
    font-family: "Inter", Helvetica;
    font-weight: 600;
    font-style: italic;
    color: #000000;
    font-size: 48px;
    letter-spacing: 0;
    line-height: normal;
}

.sobre-nosotros .img {
    position: absolute;
    width: 456px;
    height: 452px;
    top: 0;
    left: 0;
}

.sobre-nosotros .integrantes-2 {
    height: 468px;
    top: 3915px;
    left: 1005px;
    position: absolute;
    width: 854px;
}

.sobre-nosotros .integrantes-3 {
    height: 452px;
    top: 4484px;
    left: 65px;
    position: absolute;
    width: 854px;
}

.sobre-nosotros .integrantes-4 {
    height: 452px;
    top: 4484px;
    left: 1005px;
    position: absolute;
    width: 854px;
}